@model DvdStore.Models.CastDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CastDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorFname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorFname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorLname)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id=Model.CastId })" class="btn btn-default"><i class="fa fa-pencil" style="margin-right:5px"></i>Edit</a>
    <a href="@Url.Action("Index","CastDetails")" class=" btn btn-default" style="margin-left:8px">Back to the list</a>
</p>

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />